::ng-deep mdb-navbar {
  nav.navbar {
    // border-bottom: 1px solid #d4d9e3 !important;
    background-color: #445159;
    color: white;
  }
  // li:not(:first-child){
  li {
    a {
      font-size: 0.875rem;
      color: white;
      margin: 0 2px;
      font-weight: 500;
    }
    a:hover,
    .active {
      background-color: #f58138;
      color: white;
      font-weight: 500;
    }
  }
}
