<div class="container">
  <div class="row">
    <div class="col-lg-6 pt-3">
      <h5 class="text-center"> All Post List </h5>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of itemsList" class="example-item card mt-3">
          <div class=" ">
            <div class="card-body">
              <h5 class="card-title"> {{item.id}} {{item.title}}</h5>
              <a class="btn btn-primary" (click)="getDetails(item.id)">Go Details</a>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="col-lg-6 pt-3">
      <h5 class="text-center"> Add New Post </h5>

      <div class="card mt-3 ">
        <div class="card-body">
          <h5 class="card-title"> Add New Post </h5>
          <a class="btn btn-primary" (click)="openDialog()">Click To Add Post</a>
        </div>
      </div>

      <div class="pt-3" *ngIf=itemDetails>
        <h5 class="text-center"> Post Details </h5>
        <div class="card mt-3 ">
          <div class="card-body">
            <h5 class="card-title"> {{itemDetails.id}} {{itemDetails.title}}</h5>
            <p class="card-text">
              {{itemDetails.body}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->