<app-navbar (sideClick)="onToolbarMenuToggle()" (userLogOut)="logout($event)" [mainMenuList]='navbarItems'>
</app-navbar>
<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <div>
      <mat-card class="pb-2 pt-1" style="    box-shadow: none;
      border-bottom: 1px solid #e6e6e6;
      border-radius: 0;">
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>
          <mat-card-title>John Doe</mat-card-title>
          <mat-card-subtitle class="mb-0"> Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list id="menus" class="pt-0" class="side-nav-menu">

        <mat-nav-list>
          <app-menu-list-item class="bottomBorder" *ngFor="let item of navItems | slice:0:20;" [item]="item"
            (clickCloseMenu)="onToolbarMenuToggle()" [closeAllSubMenu]="closeMenu"
            (clickOpenMenu)="onToolbarMenuOpen()"></app-menu-list-item>
        </mat-nav-list>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }"
    [ngClass]="{'isOpen':isMenuOpen, 'isClose':!isMenuOpen} ">

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>